$mainColor: #43b1d2;
$menuColor: #494848;
$colorBanner: #cbd4e6;
header {
   background-color: $mainColor;
  .main{
    height: 118px;
  }
  .left{
    //background-color: red;
  }
  .right{
    //background-color: green;
  }
  .right .row {
    height: 100%;
    justify-content: flex-end;
  }
  .right .side-right{
    align-items: center;
  }
  .box{
    height: 50px;
    width: 50px;
    //background-color: antiquewhite;
  }
  .for-logo{
    height: 100%;
    align-content: center;
  }
  .logo{
    //background-color: antiquewhite;
  }
  .phone{
    //background-color: antiquewhite;
    padding-right: 15px;
    font-size: 10pt;
    font-weight: bold;
    line-height: 17pt;
    color: white;
    img{
      margin-right: 3px;
    }
  }
  .nav {
    margin-top: 10px;
    a.active {
      color: white;
    }
    a {
      color: $menuColor;
    }
    //background-color: aliceblue;
  }
}

section.banner{
  background-color: $colorBanner;
  .container {
    height: 515px;
    background-image: url("../asssets/banner-min.jpg");
  }
  .banner-column {
    float: right;
    flex-direction: column;
    justify-content: flex-end;
    //flex-basis: 70%;
    width: 47%;
    font-size: 18px;
    color: $menuColor;
    height: 100%;
    align-items: center;
    div {
      //flex-basis: 40%;
      width: 100%;
      text-align: end;
      margin-bottom: 35px;
    }
  }
  span.bold {
    font-size: 27px;
    font-weight: bold;
    padding-left: 20%;
  }
}
.contact-us {
  opacity: .8;
  button {
    color: $menuColor;
    background-color: #ffffff00;
    border: 1px solid $menuColor;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: -5px;
  }
  input {
    border-radius: 5px;
    border: 0px;
  }
}